<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38072244930-8lv675ujbmnciisai9jpfp1rjs34qto3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38072244930-8lv675ujbmnciisai9jpfp1rjs34qto3</string>
	<key>API_KEY</key>
	<string>AIzaSyBNRCFlYlZ-A9sN6UosDmROZQdDB4Bz82Y</string>
	<key>GCM_SENDER_ID</key>
	<string>38072244930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinnie.Scribbly</string>
	<key>PROJECT_ID</key>
	<string>scribbly-dfd4c</string>
	<key>STORAGE_BUCKET</key>
	<string>scribbly-dfd4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38072244930:ios:8afde7f353c2f16831795b</string>
	<key>DATABASE_URL</key>
	<string>https://scribbly-dfd4c-default-rtdb.firebaseio.com</string>
</dict>
</plist>